{% extends "base_email.html" %}

{% block body %}
  <tr>
    <td>
      <h4>Dear {{ client.full_name }}</h4>
      <p>Welcome to ​<a href="https://{{ washmix.domain }}">Washmix.com​</a>{% block extra_header %}{% endblock %}. To log in when visiting our site just click <a href="https://{{ washmix.domain }}/login">L​ogin</a>​ in our website and enter your email address and password.</p>
    </td>
  </tr>

  {% block content %}
  {% endblock %}

  <tr>
    <td id="login-able-to-do">
      <p class="highlight-background">When you log in to your account, you will be able to do the following:</p>
      <ul>
        <li><span>View order history</span></li>
        <li><span>Make changes to your account & personal detail</span></li>
        <li><span>Change your password</span></li>
        <li><span>Set your preferences</span></li>
      </ul>
    </td>
  </tr>

  <tr>
    <td id="sms">
      <b>SMS [Text]:</b> ​Save this Phone Number {{ washmix.phone_number }}
      <ul>
        <li>
          <span>To schedule your Next Pickup, simply send a request to this number via text</span>
          <ul>
            <li><span>[​Text & Data charges may/will be applied by your service provider]​</span></li>
          </ul>
        </li>

        <li>
          <b>Commands</b>
          <ul>
            <li><span>To Request a Pickup → Text <b>“​Pickup”</b></span></li>
          </ul>
        </li>

        <li>
          <b>Cut Off time</b>
          <ul>
            <li>
              <span>Monday-Saturday</span>
              <ul>
                <li><span>Text sent ​<b>BEFORE</b> 9​ am <b>[​Same-Day Pickup]</b></span></li>
                <li><span>Text sent ​<b>AFTER</b> ​9am ​<b>[Next-Day Pickup]</b></span></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </td>
  </tr>
{% endblock %}
