{% extends "base_email.html" %}

{% block body %}
  <tr>
    <td>
      <h4>Dear {{ client.full_name }}</h4>
      <p>Welcome to ​<a href="https://{{ washmix.domain }}">Washmix.com​</a>{% block extra_header %}{% endblock %}. To log in when visiting our site just click <a href="https://{{ washmix.domain }}/login">L​ogin</a>​ in our website and enter your email address and password.</p>
    </td>
  </tr>

  {% block content %}
  {% endblock %}

  <tr>
    <td id="login-able-to-do">
      <p class="highlight-background">When you log in to your account, you will be able to do the following:</p>
      <ul>
        <li><span>View order history</span></li>
        <li><span>Make changes to your account & personal detail</span></li>
        <li><span>Change your password</span></li>
        <li><span>Set your preferences</span></li>
      </ul>
    </td>
  </tr>

  <tr>
    <td id="sms">
      <ul>
        <li>
          <b>SMS [Text]:</b> ​
          <ul>
            <li>
              <span>Save this number in your phone  {{ washmix.phone_number }}</span>
            </li>
          </ul>
        </li>

        <li>
          <b>To Request a Pickup:</b>
          <ul>
            <li><span>Text the word “Pickup” to {{ washmix.phone_number }}</span></li>
            <li>
              <span><b>IMPORTANT</b>: Text from the phone number you used to register your account. Our system will not recognize other numbers unless it's the same number as it is in your profile.</span>
            </li>
            <li><span>* Message & Data rates may be applied by your cell phone plan carrier.</span></li>
          </ul>
        </li>

        <li>
          <b>Cut Off Time:</b>
          <ul>
            <li>
              <span><b>Monday-Saturday</b></span>
            </li>
            <li>
              <span>Text sent ​<b>BEFORE 8 am [​Same Day Pickup]</b></span>
            </li>
            <li>
              <span>Text sent ​<b>AFTER ​8 am ​[Next Day Pickup]</b></span>
            </li>
          </ul>
        </li>
      </ul>
    </td>
  </tr>
{% endblock %}
