{#
required context:
  - washmix
  - client
#}

{% extends "base_email.html" %}

{% block extra_style %}
  <style>
    .italic {
      font-style: italic;
    }

    .bold {
      font-weight: bold;
    }

    .green {
      color: green;
    }

    .orange {
      color: orange;
    }
  </style>
{% endblock %}


{% block body %}
  <header>
    <h4>Hello, {{ client.full_name }}</h4>
    <p>We tried processing your order and charging the card on file, but unfortunately we could not proceed. The card used may be Expired, changed or any other related issues.</p>
  </header>

  <div class="green bold italic">
    We are unable to process the transaction at this moment, and there may be a delay in delivery of your order as if your account is in negative standing.
  </div>

  <div class="divider"></div>

  <div id="to-update-information">
    <p>To update your information:</p>
    <ul>
      <li>
        <a href="https://{{ washmix.domain }}/login">L​ogin</a> to your account and proceed to ​“​Billing​”
      </li>
    </ul>
  </div>

  <div class="divider"></div>

  <div class="orange bold margin-bottom">
    To avoid delay in delivery of your current and future order(s), please update your card and information as soon as possible.​
  </div>

  <div id="thanks">
    Thank you for being a part of WashMix.com family,
  </div>

{% endblock %}
