{% extends "base_email.html" %}

{% block body %}
  <tr>
    <td>
      <h4>Dear {{ full_name }}</h4>
      <p>You have either requested this, or this is an automated system generated deletion. Your account and all related account information and personal data is now deleted from <a href="https://{{ washmix.domain }}" target="_blank">WashMix.com</a>. IF any questions or concerns, please contact immediately.</p>
      <p>IF related to our Privacy Policy Statement, please visit this <a href="https://{{ washmix.domain }}/privacy-policy" target="_blank">page</a> OR Email us with your inquiry related to your Personal Data and Information to <a href="mailto:privacy@washmix.com" target="_blank">privacy@washmix.com</a>.</p>
    </td>
  </tr>
{% endblock %}