{% extends "base_email.html" %}

{% block body %}
  <tr>
    <td>
      <h4>Dear {{ client.full_name }}</h4>
      <p>Thank you for being a part of the <b>WashMix Advantage Program​™</b>. We hope that you’re enjoying your membership.</p>

      <p>Today marks the end of the quarter-cycle, and since you’re a part of the exclusive <b>WashMix Advantage Program​™ tier</b>, you are qualified for 5% credit back that is applied to all of the services used & paid for through washmix.com.</p>

      <p>A total credit of <b>${{ dollar_credit_back }}</b> has been added to your account. This amount is added on top of any available credit you had before today.</p>
      <p>
        <i>
          <small>WashMix 5% credit back is applied every quarter [or every 3 months] to <b>WashMix Advantage Program​™ members accounts, who are enrolled in the program and part of the Platinum tier</b>. This credit is non-refundable and non-transferable and must be used with services offered at washmix.com.</small>
        </i>
      </p>
    </td>
  </tr>
{% endblock %}