{% extends "base_email.html" %}

{% block extra_style %}
  <style media="all" type="text/css">
    #order-table, #basket-table, #basket-total {
      width: 100%;
    }

    #order-table th, #basket-table th {
      width: 25%;
    }

    #basket-total th {
      width: 50%;
    }

    #discount {
      color: blue;
    }

    #balance {
      color: blueviolet;
    }
  </style>
{% endblock %}

{% block body %}
  <tr>
    <td>
      <div class="divider"></div>
    </td>
  </tr>

  <tr>
    <td>
      <h2 class="red centered">PAYMENT FAILED ON ORDER # {{ order_container.id }}</h2>
    </td>
  </tr>

  <tr>
    <td>
      <div class="divider"></div>
    </td>
  </tr>

  <tr>
    <td>
      <h3>Customer information</h3>
      <div id="billing-information">
        <p>Name - {{ client.full_name }}</p>
        <p>Email - <a href="mailto:{{ client.email }}">{{ client.email }}</a></p>
        <p>Stripe ID - {{ client.stripe_id }}</p>
      </div>
    </td>
  </tr>

  {% include "chunks/detailed_order.html" %}
{% endblock %}
