{% extends "base_email.html" %}

{% block body %}
  <tr>
    <td>
      <h4>Dear {{ client.full_name }}</h4>
    </td>
  </tr>

  <tr>
    <td class="large-margin-top">
      {% if is_advantage %}
        <b>WashMix Advantage Program​™:</b>
      {% endif %}
      <p>You have {{ direction_of_subscription }} your account for the <b>{{ subscription_container.get_name_display }}​</b> ​and as of today have <b>${{ client.dollar_balance }}</b>​ ​available credit to use.</p>
    </td>
  </tr>
{% endblock %}
