{% extends "base_email.html" %}

{% block extra_style %}
    <style media="all" type="text/css">
        #order-table, #basket-table, #basket-total {
            width: 100%;
        }

        #order-table th, #basket-table th {
            width: 25%;
        }

        #basket-total th {
            width: 50%;
        }

        #discount {
            color: blue;
        }

        #balance {
            color: blueviolet;
        }

        #unpaid, #paid {
            font-weight: 800;
            font-size: 24px;
        }

        #unpaid {
            color: red;
        }

        #paid {
            color: green;
        }
    </style>
{% endblock %}


{% block body %}

    <tr>
        <td>
            <h4 class="centered">Store Credit Updates</h4>
        </td>
    </tr>

    <tr>
        <td>
            <div class="divider"></div>
        </td>
    </tr>

    <tr>
        <td>
            <h3>Credit {{ added_or_removed }}</h3>
            <div id="customer-information">
                <p>Name - {{ client.full_name }}</p>
                <p>Email - <a href="mailto:{{ client.email }}">{{ client.email }}</a></p>
                <p>Address - {{ client.main_address.address_line_1 }} {{ client.main_address.address_line_2 }}</p>
                <p>Phone Number - {{ client.main_phone.number }}</p>

                <p>Credit {{ added_or_removed }} - ${{ credit_given }}</p>
                <p>Balance before credit - ${{ old_balance }}</p>
                <p>Balance after credit - ${{ new_balance }}</p>
                <p>Purpose - {{ note }}</p>


            </div>
        </td>
    </tr>

{% endblock %}