{% extends "base_email.html" %}
{% block body %}
    <style type="text/css">
      p {
        margin: 0;
        padding: 0;
      }
      .ft10 {
        font-size: 16px;
        font-family: Times;
        color: #000000;
      }
      .ft11 {
        font-size: 14px;
        font-family: Times;
        color: #212121;
      }
      .ft13 {
        font-size: 14px;
        font-family: Times;
        color: #ff0000;
      }
      .ft14 {
        font-size: 14px;
        font-family: Times;
        color: #0000ff;
      }
      .ft15 {
        font-size: 22px;
        font-family: Times;
        color: #4a86e8;
      }
      .ft16 {
        font-size: 14px;
        font-family: Times;
        color: #172a4d;
      }
      .ft18 {
        font-size: 16px;
        font-family: Times;
        color: #172a4d;
      }
      .ft19 {
        font-size: 16px;
        font-family: Times;
        color: #ff0000;
      }
      .ft110 {
        font-size: 16px;
        font-family: Times;
        color: #333333;
      }
      .ft112 {
        font-size: 14px;
        line-height: 20px;
        font-family: Times;
        color: #212121;
      }
      .ft113 {
        font-size: 16px;
        line-height: 24px;
        font-family: Times;
        color: #333333;
      }
    </style>
      <p class="ft11">
        Hello <br /><br />
        Let us run your errands. Give WASHMIX a try and see it for yourself.
      </p>
      <br />

      <span
        class="ft16"
        style="
          background-color: #bfe3ab;
          overflow: hidden;
          padding: 3px;
          text-decoration: underline;
        "
      >
        <strong> HOW IT WORK?</strong>
      </span>
      <ul class="ft11">
        <li>
          Select from <b>PAYC </b>[Pay As You Clean] <b>OR Advantage Option</b>. IF you’re a one time user or just want totry our service, then choose PAYC.
        </li>

        <li>
          You’re <b>NOT</b> required to be present for pickup and/or delivery
        </li>
        <li>
          Use your <b>HOME OR OFFICE</b> for deliveries [Pickup & Drop off]
        </li>
      </ul>
      <br/>
      <p class="ft16">
        With our Exclusive
        <b
          ><span style="background-color: #ffeebd; padding: 3px"
            >Advantage</span
          >
          </b
        >
        [PAY IN ADVANCE FOR FUTURE USAGES]
      </p>
      <br />
      <p class="ft16"><b>Additionally,</b></p>
      <ol class="ft11" start="7">
        <li>
          The Pre-Purchased credit is <span style="color: #ff0000">NOT</span> a membership fee [Its <span style="color: #ff0000">NOT</span> a subscription]
        </li>
        <li>
          The Pre-Purchased credit does
          <span style="color: #ff0000">NOT</span> expire
        </li>
        <li>
          The Pre-Purchased credit goes toward
          <span style="color: #0000ff">any</span> desired service
        </li>
      </ol>
      <hr />
      <p class="ft15" style="font-weight: bold">
        We recommend TRYING the ADVANTAGE ACCOUNT - PLATINUM tier:
      </p>
      <hr />
      <ul class="ft11">
        <li>
          <p style="font-weight: bold">
            What are the benefits of WashMix Advantage Program:
          </p>
        </li>
        <ul>
          <li style="font-weight: bold">
            With the
            <span style="background-color: #89d7e3; padding: 3px"
              >PLATINUM</span
            >
            Tier:
          </li>
          <ul>
            <li>1) 20% Discount on your orders</li>
            <li>2) 5% Credit Back [applied quarterly]</li>
            <li>
              3)
              <span style="color: #0000ff; font-weight: bold">FREE</span> Pickup
              [with Lower volume]
            </li>
            <li>
              4)
              <span style="color: #0000ff; font-weight: bold">FREE</span>
              Delivery
            </li>
            <li>
              5)
              <span style="color: #0000ff; font-weight: bold">FREE</span>
              Welcome Box Kit [$49 Volume]
            </li>
            <li>
              6)
              <span style="color: #0000ff; font-weight: bold">FREE</span>
              Seasonal Garment Storage [1 Season up to 5 items
            </li>
          </ul>
        </ul>
      </ul>
      <br />
      <p class="ft110" style="font-weight: bold; text-decoration: underline">
        Your available credit <span style="color: #ff0000">NEVER</span> expires
        until you go through it all
      </p>
      <hr />
      <p class="ft18">Thank you,</p>
      <p class="ft110" style="font-weight: bold">Michael Beheshtaein</p>
      <p class="ft110" style="font-weight: bold">WASHMIX Inc.</p>
      <br />
{% endblock %}