{% extends "base_email_for_admin_reminder.html" %}

{% block extra_style %}
    <style media="all" type="text/css">
        #order-table, #basket-table, #basket-total {
            width: 100%;
        }

        #order-table th, #basket-table th {
            width: 25%;
        }

        #basket-total th {
            width: 50%;
        }

        #discount {
            color: blue;
        }

        #balance {
            color: blueviolet;
        }

        #unpaid {
            color: red;
        }
    </style>
{% endblock %}

{% block content %}
    <tr>
        <td>
            <h3>UNCHARGED Order #{{ order_container.id }}</h3>
        </td>
    </tr>
    <tr>
        <td>
            <h4>Billing date: {{ order_container.created.date }}</h4>
        </td>
    </tr>

    {% include "chunks/detailed_order.html" %}
{% endblock %}