{% extends "base_email_with_info.html" %}

{% block content %}
<tr>
  <td id="instructions">
    <b>Dear {{ full_name }},</b>

    <p>
      Thank you for choosing our service. To complete your email verification,
      please click the link below:
    </p>

    <p><a href="{{ verify_email_url }}">Verify Email</a></p>

    <p>
      If the button above doesn't work, you can also copy and paste the
      following URL into your web browser:
    </p>

    <p>{{ verify_email_url }}</p>

    <p>
      Once your email is verified, you will gain access to our services. If you
      have any questions or need assistance, feel free to contact us at
      info@washmix.com.
    </p>

    <p>Thank you for choosing our service!</p>

    <p>Sincerely,</p>
    <p>Washmix</p>
  </td>
</tr>
{% endblock %}
