*.pyc
*.pyo
*.db
.DS_Store
.coverage
static_root
media_root
django_cache
.idea/misc.xml
.idea/workspace.xml
.idea/wm_django.iml
.idea/modules.xml
.idea/codeStyleSettings.xml
.idea

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Elastic Beanstalk Files
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/
.elasticbeanstalk/

# environment
.env
venv
.vscode
*.code-workspace

# static files and assets
static
assets