amqp==2.3.2
appdirs==1.4.3
billiard==3.5.0.4
celery==4.2.1
certifi==2018.10.15
chardet==3.0.4
defusedxml==0.5.0
Django==2.1.1
django-appconf==1.0.2
django-braces==1.13.0
django-cleanup==2.1.0
django-clear-cache==0.3
django-compressor==2.2
django-cors-headers==2.4.0
django-filter==2.0.0
django-libsass==0.7
django-markdown-deux==1.0.5
django-meta==1.4.1
django-oauth-toolkit==1.2.0
django-rest-framework-social-oauth2==1.1.0
django-robots==3.1.0
django-templated-mail==1.1.1
djangorestframework==3.9.0
djangorestframework-expiring-authtoken==0.1.4
django-debug-toolbar==1.10.1
djoser
Faker==1.0.0
idna==2.7
Jinja2==2.10
kombu==4.2.1
libsass==0.16.0
Markdown==3.0.1
markdown2==2.3.6
MarkupSafe==1.1.0
mock==2.0.0
oauthlib==2.1.0
packaging==18.0
pbr==5.1.1
psycopg2-binary
PyJWT==1.6.4
pyparsing==2.3.0
PySocks==1.6.8
python-dateutil==2.7.5
python3-openid==3.1.0
pytz==2018.7
rcssmin==1.0.6
requests==2.20.1
requests-oauthlib==1.0.0
rjsmin==1.0.12
six==1.11.0
smartypants==2.0.1
social-auth-app-django==3.1.0
social-auth-core==2.0.0
sqlparse==0.2.4
stripe==2.12.0
text-unidecode==1.2
typogrify==2.0.7
urllib3==1.24.1
vine==1.1.4

arrow==0.12.1
django-dramatiq==0.1.5
dramatiq[redis,watch]==1.4
redis==3.0.1

twilio==6.19.2

