{% with basket_container=order_container.basket %}
  <div id="order-wrapper">
    <table id="order-table">
      <tr>
        <th class="highlight-background">Billing Information</th>
        <th class="highlight-background">Payment Method</th>
        <th class="highlight-background">Delivery Information</th>
        <th class="highlight-background">Pickup & Delivery Method</th>
      </tr>

      <tr>
        <td>
          <div id="billing-information">
            <p>{{ client.full_name }}</p>
            <p>{{ client.pretty_billing_address }}</p>
          </div>
        </td>
        <td>
          <div id="payment-method">
            <p>**** {{ client.main_card.last }}</p>
            <p>{{ client.main_card.expiration_month }}/{{ client.main_card.expiration_year }}</p>
          </div>
        </td>
        <td>
          <div id="delivery-information">
            <p>{{ client.full_name }}</p>
            <p>{{ order_container.request.address.zip_code.value }}</p>
            <p>{{ order_container.request.address.address_line_1 }}</p>
            <p>{{ order_container.request.address.address_line_2 }}</p>
            <p>{{ client.main_phone.number }}</p>
          </div>
        </td>
        <td>
          <div id="pickup-delivery-method">
            Door-to-Door Service:
            {% if order_container.request.is_free %}
              Free
            {% else %}
              ${{ order_container.request.dollar_amount }}
            {% endif %}
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div id="basket-wrapper">
    <h3>Basket information</h3>
    <table id="basket-table">
      <tr>
        <th class="highlight-background">Item</th>
        <th class="highlight-background">Service</th>
        <th class="highlight-background">Quantity</th>
        <th class="highlight-background">Subtotal</th>
      </tr>

      {% for quantity in basket_container.quantity_container_list %}
        <tr>
          <td>{{ quantity.price.item.title }}</td>
          <td>{{ quantity.price.service.title }}</td>
          <td>{{ quantity.count }}</td>
          <td>${{ quantity.dollar_amount }}</td>
        </tr>
      {% endfor %}

      {% for item in basket_container.extra_items %}
        <tr>
          <td>{{ item.title }}</td>
          <td>{{ item.instructions }}</td>
          <td>1</td>
          <td>${{ item.dollar_amount }}</td>
        </tr>
      {% endfor %}
    </table>

    <table id="basket-total">
      <tr>
        <th>Subtotal</th>
        <th>${{ order_container.dollar_amount }}</th>
      </tr>

      {% if is_advantage %}
        <tr>
          <th id="discount">Discounts [Advantage Program]</th>
          <th>${{ order_container.dollar_discount }}</th>
        </tr>
      {% endif %}

      <tr>
        <th>Grand Total</th>
        <th>${{ order_container.dollar_amount_with_discount }}</th>
      </tr>

      {% if is_advantage %}
        <tr>
          <th id="balance">Remaining Balance [Advantage Program]</th>
          <th>${{ client.dollar_balance }}</th>
        </tr>
      {% endif %}
    </table>
  </div>
{% endwith %}