{% extends 'admin/base.html' %}

{% load static %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'admin/js/jquery.init.js' %}"></script>
{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_staff %}
{% block styles %}
<style>
    .wrapper {
        display: flex;
        border: 1px solid #666;
        padding: 10px;
    }

    .wrapper.around {
        justify-content: space-around;
    }

    .wrapper.between {
        justify-content: space-between;
    }


    .module {
        background-color: white;
        padding: 20px;
        border: 1px solid #666;
    }

    .filter-row {
        margin-bottom: 10px;
    }

    .filter-row label {
        margin-right: 5px;
    }

    .select-multiple-field {
        width: 200px;
    }

    .submit-button {
        margin-top: 10px;
    }
</style>
{% endblock %}
        <div class="module">
            <table>
                <h3>Select the customer and template to send the sms to:</h3>
                <tr>
                    <td>
                        <label for="customers">Customers:</label>
                        <select id="id_toppings" name="customers" class="select-multiple-field">
                            {% for customer in customers %}
                                {% if customer.id|stringformat:"s" in selected %}
                                    <option value="{{ customer.id }}" selected>{{ customer.full_name }}</option>
                                {% else %}
                                    <option value="{{ customer.id }}">{{ customer.full_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <label for="templates">Templates:</label>
                        <select id="templates" name="template">
                            {% for template in templates %}
                                <option value="{{ template.id }}">{{ template }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
            <hr/>
            <br/><br/>
            <table>
                <h3>Filter the customer using the filters below:</h3>
                <tr>
                    <td>
                        <div class="filter-row">
                            <form id="select-zip-form" action="/admin/sms/outbound-sms/" method="get">
                                <label for="zip_code">Select Zip Code:</label>
                                <select name="zip_code" onchange="this.form.submit()">
                                    <option value="">Select Zip Code</option>
                                    {% for zip in zips %}
                                        <option value="{{ zip }}">{{ zip }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                    </td>
                    <td>

                        <div class="filter-row">
                            <form id="select-city-form" action="/admin/sms/outbound-sms/" method="get">
                                <label for="city">Select City:</label>
                                <select name="city" onchange="this.form.submit()">
                                    <option value="">Select City</option>
                                    {% for city in cities %}
                                        <option value="{{ city }}">{{ city }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                    </td>
                    <td>
                        <div class="filter-row">
                            <form id="select-address-form" action="/admin/sms/outbound-sms/" method="get">
                                <label for="address">Select Address:</label>
                                <select id="id_toppings" name="address" class="select-multiple-field" onchange="this.form.submit()">
                                    <option value="">Select Address</option>
                                    {% for customer in all_customers %}
                                        <option value="{{ customer.billing_address.address_line_1 }}">{{ customer.billing_address.address_line_1 }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                    </td>
                    <td>

                        <div class="filter-row">
                            <form id="select-phone-form" action="/admin/sms/outbound-sms/" method="get">
                                <label for="phone">Select Phone:</label>
                                <select id="id_toppings" name="phone" class="select-multiple-field" onchange="this.form.submit()">
                                    <option value="">Select Phone</option>
                                    {% for customer in all_customers %}
                                        <option value="{{ customer.main_phone.number }}">{{ customer.main_phone.number }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                    </td>
                </tr>
            </table>

            <form id="send-sms-form" action="{% url 'send_sms' %}" method="post">
                {% csrf_token %}
                <input type="hidden" id="selected-customers-input" name="customers">
                <input type="hidden" id="selected-template-input" name="template">
                <input type="submit" value="Submit" class="submit-button" onclick="return confirm('Are you sure you want to send SMS to selected clients?');">
            </form>
        </div>

    {% endif %}

<script>
  var sendSmsForm = document.getElementById("send-sms-form");
  var selectedCustomersInput = document.getElementById("selected-customers-input");
  var selectedTemplateInput = document.getElementById("selected-template-input");

  sendSmsForm.addEventListener("submit", function (event) {
      event.preventDefault();

      var customers = Array.from(document.getElementById("id_toppings").options)
          .filter(option => option.selected)
          .map(option => option.value);
  
      var template = document.getElementById("templates").value;
  
      selectedCustomersInput.value = JSON.stringify(customers);
      selectedTemplateInput.value = template;
  
      sendSmsForm.submit();
  });
</script>


{% endblock %}
