{% extends 'admin/change_form.html' %} 

{% block extrahead %}

{% if not user.is_superuser %}
  <script>
    // This section hides the "Delete Client Account" button when the user does not have superuser privileges.
    document.addEventListener("DOMContentLoaded", function() {
      const deleteButtons = document.querySelectorAll('.deletelink');
      console.warn("Code there  or where???")

      deleteButtons.forEach(button => {
          button.style.display = 'none';
      });
      });
  </script>
{% endif %}

<script>
  function submitForm() {
    const form = document.getElementById('charge-form');
    const clientId = form.querySelector('input[name="client_id"]').value;

    // Prepare the data as JSON
    const data = {
      client_id: clientId,
    };

    fetch('/api/client/admin-requests/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(data),
    })
    .then((response) => {
      response.json().then((responseJson)=>{
        window.location = responseJson.path
      })
      
    })
      .catch((error) => {
        console.log(error)
      });
  }
</script>

<script>
  function createRequestFormSubmit() {
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const form = document.getElementById('instore-request');
    const clientId = form.querySelector('input[name="client_id"]').value;

    // Prepare the data as JSON
    const data = {
      client_id: clientId,
    };

    fetch('/admin/deliveries/instore-request/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken,
      },
      body: JSON.stringify(data),
    })
    .then((response) => {
      console.log(response),
      response.json().then((responseJson)=>{
        window.location = responseJson.path
      })
      
    })
      .catch((error) => {
        console.log(error)
      });
  }
</script>

{{ block.super }}

{% endblock %}

{% block extrastyle %}
<style>
  .object-tools {
    display: flex !important;
    justify-content: flex-end;
  }

  {{ block.super }}
</style>

{{ block.super }}
{% endblock %}

{% block object-tools-items %}
<div style="margin-right:7px;">
  <form id="instore-request">
    <input type="hidden" value="{{ original.pk }}" name="client_id">
    <input type="submit" onclick="createRequestFormSubmit()" value="Instore Request"></input>
  </form>
</div>
<div>
  <form id="charge-form">
    <input type="hidden" value="{{ original.pk }}" name="client_id">
    <input type="button" class="modal-button" onclick="submitForm()" value="Charge client"></input>
  </form>
</div>
<div style="margin-left:7px;">
  <form id="send-sms-form" action="/admin/client/generate-pdf" method="get">
    <input type="hidden" name="client_id" value="{{ original.pk }}">
    <input type="submit" value="Generate PDF" class="submit-button" />
  </form>
</div>
{{ block.super }}
{% endblock %}
