{% extends 'admin/change_form.html' %} 

{% block extrahead %}
<script>
  function submitForm() {
    console.log("clickedddd")
    const form = document.getElementById('charge-form');
    const clientId = form.querySelector('input[name="client_id"]').value;

    // Prepare the data as JSON
    const data = {
      client_id: clientId,
    };

    fetch('/api/client/admin-requests/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(data),
    })
    .then((response) => {
      response.json().then((responseJson)=>{
        console.log("responseJson:",responseJson)
        window.location = responseJson.path
      })
      
    })
      .catch((error) => {
        console.log(error)
      });
  }
</script>

{{ block.super }}

{% endblock %}

{% block extrastyle %}
<style>
  .object-tools {
    display: flex !important;
    justify-content: flex-end;
  }

  {{ block.super }}
</style>

{{ block.super }}
{% endblock %}

{% block object-tools-items %}
<div>
  <form id="charge-form">
    <input type="hidden" value="{{ original.pk }}" name="client_id">
    <input type="button" class="modal-button" onclick="submitForm()" value="Charge client"></input>
  </form>
</div>
{{ block.super }}
{% endblock %}
