{% extends 'admin/change_form.html' %} {% block extrastyle %}

<style>
  .object-tools{
    display: flex !important;
    justify-content: flex-end;
  }
</style>

{{ block.super }} {% endblock %}
{% block object-tools-items %}
<div>
  <form id="send-sms-form" action="{% url 'client:generate-pdf' %}" method="get">
    <input type="hidden" name="client_id" value="{{ original.pk }}">
    <input type="submit" value="Generate PDF" class="submit-button" />
  </form>
</div>
{{ block.super }} {% endblock %}