{% load i18n %}

{% block subject %}
{% blocktrans %}Order placed on {{ site_name }}{% endblocktrans %}
{% endblock subject %}



{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you are editing an order on {{ site_name }}.{% endblocktrans %}</p>

<p>{% blocktrans with id=order.id %}Order Id: <b>{{ id }}</b></p>{% endblocktrans %}
<p>{% blocktrans with total_cost=order.total_cost %}Total Cost: <b>{{ total_cost }}</b></p>{% endblocktrans %}
<p>{% blocktrans with pick_up_from_datetime=order.pick_up_from_datetime %}Pickup Date: <b>{{ pick_up_from_datetime }}</b></p>{% endblocktrans %}
<p>{% blocktrans with drop_off_from_datetime=order.drop_off_from_datetime %}Dropoff Date: <b>{{ drop_off_from_datetime }}</b></p>{% endblocktrans %}

<div>
    {% for item in order_details %}
        {% for key, value in item.items %}
            <p>{% blocktrans %} {{ key }}: <b>{{ value }}</b></p>{% endblocktrans %}
        {% endfor %}
    {% endfor %}
</div>


<p>{% blocktrans %}Your Order will be picked from: {{ pickup_address }}.{% endblocktrans %}</p>
<p>{% blocktrans %}Your Order will be dropped at: {{ dropoff_address }}.{% endblocktrans %}</p>

<p>{% blocktrans with email=user.email %}You have placed an order using account {{ email }}.{% endblocktrans %}</p>



<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>
{% endblock html_body %}
