{% load i18n %}

{% block subject %}
{% blocktrans %}Activate your account {{ site_name }}{% endblocktrans %}
{% endblock subject %}



{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you registered on {{ site_name }}.{% endblocktrans %}</p>

<p>{% blocktrans with email=user.email %}You have registered using account {{ email }}.{% endblocktrans %}</p>
<p>Please click on the link to confirm your registration,
<a href="{{ protocol }}://{{ domain }}/{{ url }}">{{ protocol }}://{{ domain }}/{{ url }}</a></p>




<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>
{% endblock html_body %}
