{% extends "admin/login.html" %} 
{% load i18n static %} 
{% load cache %}
{% block extrastyle %}
<style>
    .inputs{
        text-align-last: center
    }
    .inputs_input:hover{
        cursor: pointer
    }
    .logout{
        color: white !important
        margin-right: 7px !important
    }
    .logout:hover{
        color: black !important
    }
</style>
{% endblock %}

{% block extrahead %}
<script>
  function logoutFunction() {
    window.location.href = "/admin/logout/";
  }
</script>
{% endblock %}
<body>
  <header>
    <h1>Verification</h1>
  </header>
  <main>
    {% block content %}
    <p>Please enter the verification code you received:</p>
    <form method="post" action="/verification/">
      {% csrf_token %} {{ form.as_p }}
      <div class="inputs">
      <input class="inputs_input logout" type="button" value="Logout" onclick="logoutFunction()" style="background: #f2545b"/>
      <input class="inputs_input" type="submit" value="Verify" />
      </div>
    </form>
    {% endblock %}
  </main>
</body>
