<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <input type="submit" onclick="generateLastWeekPDF(); return false;" value="Generate PDF" />
  <script>
    function generateLastWeekPDF() {
      var data = {
        client_id: "{{ client_id }}",
        duration: "{{ duration }}"
      };
      $.post('/api/client/generate-pdf/', data, function(response) {
        console.log('PDF generated successfully!');
      }).fail(function() {
        console.error('PDF generation failed!');
      });
    }
  </script>
</body>
</html>
